<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <br/>

    <form action="/data_get_parsing" method="GET">
      Nome: <input type="text" name="nome">
      <br/>
      Sobrenome: <input type="text" name="sobrenome">
      <input type="submit" value="Enviar">
    </form>
  </body>
</html>
