body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

input[type=text], input[type=number]{
  width: 100%;
  padding: 12px, 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #040670;
  box-sizing: border-box;
}

